/-MacBook Air de Héctor (2).Rhistory
/.RData
/.Rhistory
/.Rproj.user
/informe_negociaciones
/master_negociaciones-MacBook Air de Héctor (2).R
/master_negociaciones.R
/Negociación laboral-MacBook Air de Héctor (2).Rproj
/Negociación laboral.Rproj